.console {
  white-space: nowrap;
  overflow-x: auto;
  border-radius: 4px;
  font-family: Courier;
  color: #CCCCCC;
  background: #000000;
  min-height: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 10px;
}

#websocket-feedback {
  display: none;
}

#sidebar {
  position: fixed;
  padding-top: 20px;
  height: 100%;
  overflow-y: auto;
}

.pre-scrollable {
  overflow-x: scroll;
  word-wrap: normal;
}

#job-list a {
  color: inherit;
}

.job-list-item.active table{
  border: 2px solid #0000ff;
}
